name: Run F# script

on:
  schedule:
    - cron: '0 0 * * *' # runs every day at midnight
  workflow_dispatch: # allows manual triggering of the workflow
  push:
    branches:
      - main

jobs:
  run-script:
    runs-on: windows-latest
    steps:
      - name: Enable long paths
        run: |
          git config --system core.longpaths true
          echo "export GIT_OPTIONAL_LOCKS=0" >> $GITHUB_ENV
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.400-preview.23217.10
      - name: Version
        run: dotnet --version
      - name: Run F# script
        run: dotnet fsi script.fsx
